@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    color-scheme: only light;
};

body {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    -webkit-font-smoothing: antialiased;

    overflow-x: hidden;
    color: rgba(46, 50, 56, 1);
}